body {
  font-family: 'Quattrocento Sans', sans-serif;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: grey;
  border-top: grey !important;
  text-transform: uppercase;
}

.cover-container {
  background-image: url('../img/background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh !important;
  width: 100vw !important;
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.jumbotron-leader {
  background-color: #000000;
  opacity: 0.75;
}

.carousel-container {
  padding: 5px;
}

/* .impression {
  background: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
} */

.reserveren {
  background-image: url('../img/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh !important;
  width: 100vw !important;
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

textarea {
  width: 100%;
  height: 200px;
}

label {
  color: #ffffff;
}

.calendar {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  /* display: none; */
}

.calendar .dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #1caff6;
  text-align: center;
  font-size: 14pt;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  width: 160px;
  left: 0px;
  z-index: 2000;
}

.calendar .dropdown .dropdown-item {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s opacity;
}

.calendar .dropdown .dropdown-item:hover {
  opacity: 1;
}

.calendar .years {
  display: none;
}

.calendar .title {
  text-align: center;
  font-size: 20pt;
}

.calendar .calendar-btn {
  float: left;
  background-color: #24aeff;
  color: white;
  text-align: center;
  font-size: 14pt;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  width: 20%;
  cursor: pointer;
  transition: 0.5s background-color;
}

.calendar .calendar-btn:hover {
  background-color: #1f71a1;
}

.calendar .year-btn {
  float: right;
}

.calendar .calendar-dates .days .day {
  float: left;
  width: 12%;
  margin: 1%;
  padding: 1%;
  font-size: 13pt;
  text-align: center;
  border-radius: 10px;
  border: solid 1px #ddd;
}

.calendar .calendar-dates .days .day.blank {
  background-color: white;
  border: none;
}

.calendar .calendar-dates .days .day.selected {
  background-color: #1caff6;
  color: white;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s opacity;
}

.day:hover {
  background-color: #24aeff;
  cursor: pointer;
}

.calendar .calendar-dates .days .day.selected:hover {
  opacity: 1;
}

.calendar .calendar-dates .days .day.label {
  height: 40px;
  background-color: white;
  color: black;
  border: none;
  font-weight: bold;
}

.guest-header {
  text-align: center;
}

.guest {
  float: left;
  width: 12%;
  margin: 1%;
  padding: 1%;
  font-size: 13pt;
  text-align: center;
  border-radius: 10px;
  border: solid 1px #ddd;
}

.guest:hover {
  background-color: #24aeff;
}

.time {
  float: left;
  width: 12%;
  margin: 1%;
  padding: 1%;
  font-size: 13pt;
  text-align: center;
  border-radius: 10px;
  border: solid 1px #ddd;
}

.time:hover {
  background-color: #24aeff;
}

.confirmation-container {
  display: none;
}

.clear {
  clear: both;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
