body {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #fff0f0;
  background-color: #fff0f0;
}

.nav-link {
  text-transform: uppercase;
  padding-top: 0;
  color: #fff0f0;
}

a.nav-link:hover {
  border-top: 3px solid #fff0f0;
  color: #fff0f0;
}

.cover-container {
  background-image: url('../img/background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh !important;
  width: 100vw !important;
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.masthead-brand {
  font-size: 2.4em;
}

.navbar-toggler {
  padding-bottom: 0.6em;
}

.fa-hamburger {
  font-size: 1.5em;
  color: #fff0f0;
}

.jumbotron-leader {
  /* background-color: #bb9090; */
  visibility: hidden;
  opacity: 0.5;
}

.jumbotron-leader h1 {
  opacity: 2;
}

.bold {
  font-weight: 700;
}

.italicize {
  font-style: italic;
}

.lead {
  font-size: 1.25em;
  border-radius: 1.7em;
  background-color: #000000;
  padding: 25px;
  opacity: 0.87;
}

.quote {
  color: #bb9090;
  font-size: 1.75em;
}

.welcome-message {
  font-size: 2.75em;
}

.impression {
  color: #bb9090;
}

.carousel-container {
  padding: 5px;
}

.carousel-inner {
  box-shadow: 5px 5px 5px #000000;
  border-radius: 0.5%;
}

.menu {
  background-color: #bb9090;
  color: #fff0f0;
}

.menu-heading {
  color: #fff0f0;
}

.card {
  background-color: #fff0f0;
  color: #bb9090;
  border: 2px solid #fff0f0;
}

.img-card-img-top {
  max-height: 300px;
}

.card-body {
  padding: 5px;
}

.reserveren {
  background-image: url('../img/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh !important;
  width: 100vw !important;
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.reserveren-heading {
  color: #fff0f0;
}

.calendar {
  background-color: #fff0f0;
  color: #bb9090;
  padding: 20px;
  box-shadow: 5px 5px 5px #000000;
  border: #bb9090;
  border-radius: 0.5%;
  margin-bottom: 50px;
}

.calendar .dropdown {
  display: none;
  position: absolute;
  background-color: #fff0f0;
  color: #bb9090;
  border: 1px solid #bb9090;
  text-align: center;
  font-size: 14pt;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  width: 160px;
  left: 0px;
  z-index: 2000;
}

.calendar .dropdown .dropdown-item {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s opacity;
  color: #bb9090;
}

.calendar .dropdown .dropdown-item:hover {
  opacity: 1;
  color: #fff0f0;
  background-color: #ddc0c0;
}

.calendar .years {
  display: none;
}

.calendar .title {
  text-align: center;
  font-size: 20pt;
}

.calendar .calendar-btn {
  float: left;
  border: 1px solid #bb9090;
  background-color: #fff0f0;
  color: #bb9090;
  text-align: center;
  font-size: 14pt;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  width: 20%;
  cursor: pointer;
  transition: 0.5s background-color;
}

.calendar .calendar-btn:hover {
  background-color: #ddc0c0;
}

.calendar .year-btn {
  float: right;
}

.calendar .calendar-dates .days .day {
  float: left;
  width: 12%;
  margin: 1%;
  padding: 1%;
  font-size: 13pt;
  text-align: center;
  border-radius: 10px;
  border: solid 1px #bb9090;
}

.calendar .calendar-dates .days .day.blank {
  visibility: hidden;
  border: none;
}

.calendar .calendar-dates .days .day.selected {
  background-color: #bb9090;
  color: #fff0f0;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s opacity;
}

.day:hover {
  background-color: #ddc0c0;
  cursor: pointer;
}

.calendar .calendar-dates .days .day.selected:hover {
  opacity: 1;
}

.avoid-clicks {
  pointer-events: none;
  background-color: #ddc0c0;
  opacity: 0.6;
}

.calendar .calendar-dates .days .day.label {
  background-color: #bb9090;
  color: #fff0f0;
  border: none;
  font-weight: bold;
}

.post-fade-out > * {
  height: 0;
  width: 0;
}

.fade-out {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.guest-header {
  text-align: center;
}

.guest-select {
  color: #ddc0c0;
}

.time-select {
  color: #ddc0c0;
}

.form-control {
  color: #bb9090;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ddc0c0 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ddc0c0 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ddc0c0 !important;
}

.guest {
  float: left;
  width: 12%;
  margin: 1%;
  padding: 1%;
  font-size: 13pt;
  text-align: center;
  border-radius: 10px;
  border: solid 1px #ddd;
}

.guest:hover {
  background-color: #bb9090;
}

.time {
  float: left;
  width: 12%;
  margin: 1%;
  padding: 1%;
  font-size: 13pt;
  text-align: center;
  border-radius: 10px;
  border: solid 1px #ddd;
}

.time:hover {
  background-color: #24aeff;
}

.confirmation-container {
  display: none;
  background-color: #fff0f0;
  color: #bb9090;
  padding: 80px 0px 80px 0px;
  box-shadow: 5px 5px 5px #000000;
  border: #bb9090;
  border-radius: 0.5%;
}

.form-row {
  padding: 0px 40px 0px 40px;
}

.btn-secondary {
  background-color: #bb9090;
  border: none;
  box-shadow: 5px 5px 5px #000000;
}

.contact {
  background-color: #bb9090;
  color: #fff0f0;
}

.contact-heading {
  color: #fff0f0;
}

#contact-comments {
  height: 150px;
}

#btn-contact {
  color: #bb9090;
  background-color: #fff0f0;
  border: none;
}

#btn-contact:hover {
  background-color: #ddc0c0;
}

#btn-contact-processing {
  color: #bb9090;
  background-color: #fff0f0;
  border: none;
}

.footer {
  color: #bb9090;
  background-color: #fff0f0;
  font-size: 1.25em;
}

.footer-link {
  padding-top: 0;
  color: #bb9090;
  display: block;
}

a.footer-link:hover {
  color: #bb9090;
}

.social a {
  color: #bb9090;
  font-size: 2em;
}

.social a:hover {
  color: #bb9090;
  font-size: 2em;
  opacity: 0.75;
}

.clear {
  clear: both;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
